body {
  background-color: #272c35;
}

.App {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.pictures-container-1 {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pictures-container-2 {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.last-picture {
  border: 2px solid #ffffff;
  height: 400px;
  margin: 20px;
}

.picture {
  border: 2px solid #ffffff;
  height: 150px;
}

.last-dog {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: rgb(65, 185, 65);
  border: none;
  border-radius: 5px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  margin-top: 5px;
  width: 260px;
}

button:hover {
  background-color: rgb(59, 141, 59);
  cursor: pointer;
}